{%extends 'base_list.html'%}


{% block title %} Invocations {% endblock %}


{% block listheader %} 
    <div>
        <h1 class="display-4"> Invocations! </h1>
        <p class="lead"> All the invocations.</p>        
    </div>
{% endblock %}



{%  block content %}
{% if all_invocations_list %}
    <table class="table">
        <tr class="bg-secondary text-light ">
            <th>ID</th><th>Name</th><th>Type</th>
        </tr>
        {% for invocation in all_invocations_list %}
            <tr>
                <td> {{invocation.id}}</td> 
                <td> {{invocation.name}}</td>
                <td> {{invocation.invocation_type}} </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No invocations in database.</p>
{% endif %}
{% endblock%}