{% extends 'base.html' %}

{% block title %} {{ninja.name}} {% endblock %}

{% block header %}
<div class="page-header">
    
    <h1 class="display-5">{{ninja.clan}}  {{ninja.name}} </h1>
    {% if user.ninja.pk == ninja.pk %}
    
        <div class="btn-group" >
            <a  class="btn btn-primary" href="{% url 'skills:create_attack_skill' %}">Create AttackSkill </a>
            <a class="btn btn-primary"  href="{% url 'skills:create_heal_skill' %}">Create HealSkill </a>
            <a class="btn btn-primary" href="{% url 'skills:learn_skill' %}">Learn Skill</a>
    
            <a class="btn btn-primary" href="{% url 'invocations:create_invocation' %}">Create Invocation </a>
            <a class="btn btn-primary" href="{% url 'invocations:learn_invocation' %}">Learn Invocation </a>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block content %}
<div class="row" >
    <div class="col-md-6">
       
        <h3>Description: </h3>
        <p class="text-justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus, eveniet numquam ad porro eaque quaerat, natus ullam cupiditate ipsa corrupti, quasi mollitia eius excepturi repellat saepe commodi animi voluptas exercitationem.</p>
        <!-- Habilidades: -->
        <div>
            {% if ninja.ninja_skills %} 
                <h3>Skills:</h3>
                <table class="table">
                    <tr> <th>Name</th> <th>Element</th> <th>Chakara Required</th> </tr>
                    {% for skill in ninja.ninja_skills %}
                        <tr>
                            <td>{{skill.name}}</td><td> {{skill.element}}</td> <td>{{skill.chakra_required}}</td> 
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p class="lead"> There are no skills.</p>
            {% endif %}
        </div>
        <!-- Invocaciones -->
        <div>
            {% if ninja.ninja_invocations %} 
                <h3>Invocaciones:</h3>
                <table class="table">
                    <tr> <th>Nombre</th> <th>Tipo</th>
                    {% for inv in ninja.ninja_invocations %}
                        <tr>
                            <td>{{inv.name}}</td><td>{{inv.invocation_type}}</td> 
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p class="lead"> There are no invocations.</p>
            {% endif %}
        </div>
    </div>
    <div class="col-md-6">
        <h3>Resumen</h3>
        <table class="table">
            <tr>
                <td>User: </td> <td>{{ ninja.user }}</td>
            </tr>
            <tr>
                <td> Class: </td> <td>{{ninja.ninja_class}}</td>
            </tr>
            <tr>
                <td> Gender: </td> <td>{{ninja.gender}}</td>
            </tr>
            <tr>
                <td> Clan: </td> <td>{{ninja.clan}}</td>
            </tr>
            <tr>
                <td> Birth Date: </td> <td>{{ninja.birth_date}} ({{ninja.age}} años) </td>
            </tr>
            <!-- info de ninja -->
            {% for info_name,info_value in ninja.ninja_info%} 
            <tr>
                <td> {{info_name}}</td>
                <td> {{info_value}} </td>
            </tr>
            {%endfor%}
            
            <!-- info equipo -->
            {% if ninja.team %}
                <tr>
                    <td> Team: </td> <td> <a href="{% url 'ninjas:show_ninja_team' ninja.pk%}">{{ninja.team}}</a> </td>
                </tr>
                <tr>
                    <!-- aqui estaria si tiene lider el equipo (Buscar en el primer proyecto empezado) -->
                <td> Team Members: </td> 
                <td> 
                    {% for n in ninja.team.members %}
                        <p><a href="{% url 'ninjas:profile' n.pk %}">{{n.name}}</a></p>
                    {% endfor %}    
                </td>
                
                </tr>
            {% else %}
                <tr>
                    <td>
                        No team info.
                    </td>
                    <td></td>
                </tr>
            {% endif %}
           <!-- aqui estaria si es lider de algun equipo (Buscar en el primer proyecto empezado) -->
           
        </table>
    </div>
</div>


    
{% endblock %}