{% extends 'base.html' %}

{% block title %} {{ninja.name}} {% endblock %}

{% block header %}
<div class="page-header">
    
    <h1 class="display-5">{{ninja.clan}}  {{ninja.name}} </h1>
    {% if user.ninja.pk == ninja.pk %}
    
    <div class="mycols"> 
        <div class="btn-group" >
            <a  class="btn btn-primary" href="{% url 'skills:create_attack_skill' %}">Create AttackSkill </a>
            <a class="btn btn-primary"  href="{% url 'skills:create_heal_skill' %}">Create HealSkill </a>
            <a class="btn btn-primary" href="{% url 'skills:learn_skill' %}">Learn Skill</a>

            <a class="btn btn-primary" href="{% url 'invocations:create_invocation' %}">Create Invocation </a>
            <a class="btn btn-primary" href="{% url 'invocations:learn_invocation' %}">Learn Invocation </a>
        </div>
        
        <div class="btn-group">
            <a  class="btn btn-primary" href="{% url 'missions:create_parchment' %}">Create Parchment </a>

            {% if ninja.specific_type.leading_team %}
                <a  class="btn btn-primary" href="{% url 'ninjas:deliver_mission_result' %}">Deliver Mission Result </a>
            {% endif %}
            {% if ninja.specific_type.class_name == "Hokage" %}
                <a  class="btn btn-primary" href="{% url 'ninjas:create_team' %}">Create Team </a>
                <a  class="btn btn-primary" href="{% url 'ninjas:assign_mission' %}">Assign Mission </a>
            {% endif %}
        </div>
    </div>

    {% endif %}
</div>
{% endblock %}

{% block content %}
<div class="row" >
    <div class="col-md-6">
       
        <h3>Description: </h3>
        <p class="text-justify">A powerful ninja who has sworn to protect the Hidden Leaf Village.</p>
        <!-- Habilidades: -->
        <div>
            {% if ninja.ninja_skills %} 
                <h3>Skills:</h3>
                <table class="table">
                    <tr> <th>Name</th> <th>Element</th> <th>Chakara Required</th> </tr>
                    {% for skill in ninja.ninja_skills %}
                        <tr>
                            <td>{{skill.name}}</td><td> {{skill.element}}</td> <td>{{skill.chakra_required}}</td> 
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p class="lead"> There are no skills.</p>
            {% endif %}
        </div>
        <!-- Invocaciones -->
        <div>
            {% if ninja.ninja_invocations %} 
                <h3>Invocaciones:</h3>
                <table class="table">
                    <tr> <th>Nombre</th> <th>Tipo</th>
                    {% for inv in ninja.ninja_invocations %}
                        <tr>
                            <td>  <a href="{%url 'invocations:invocation_detail' inv.pk %}">{{inv.name}} </a></td>
                            <td>{{inv.invocation_type}}</td> 
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p class="lead"> There are no invocations.</p>
            {% endif %}
        </div>
    </div>
    <div class="col-md-6">
        <h3>Resume</h3>
        <table class="table">
            <tr>
                <td>User: </td> <td>{{ ninja.user }}</td>
            </tr>
            <tr>
                <td>Nick Name: </td> <td>{{ ninja.nick_name }}</td>
            </tr>
            <tr>
                <td> Class: </td> <td>{{ ninja.specific_type.class_name }}</td>
            </tr>
            
            {% for info_name,info_value in ninja.specific_type.ninja_info%} 
                <tr>
                    <td> {{info_name}}:</td>
                    <td> {{info_value}} </td>
                </tr>
            {%endfor%}
            
            <tr>
                <td> Gender: </td> <td>{{ninja.gender}}</td>
            </tr>
            <tr>
                <td> Clan: </td> <td>{{ninja.clan}}</td>
            </tr>
            <tr>
                <td> Birth Date: </td> <td>{{ninja.birth_date}} ({{ninja.age}} años) </td>
            </tr>
            <tr>
                <td>Is Medic: </td> <td>{{ ninja.is_medic }}</td>
            </tr>
            <tr>
                <td>Max Chakra: </td> <td>{{ ninja.max_chakra }}</td>
            </tr>
            <!-- info equipo -->
            {% if ninja.team %}
                <tr>
                    <td> Team: </td> <td> <a href="{% url 'ninjas:show_ninja_team' ninja.pk%}">{{ninja.team}}</a> </td>
                </tr>
                <tr>
                    <!-- aqui estaria si tiene lider el equipo (Buscar en el primer proyecto empezado) -->
                <td> Team Members: </td> 
                <td> 
                    {% for n in ninja.team.members %}
                        <p><a href="{% url 'ninjas:profile' n.pk %}">{{n.name}}</a></p>
                    {% endfor %}    
                </td>
                
                </tr>
            {% else %}
                <tr>
                    <td>
                        No team info.
                    </td>
                    <td></td>
                </tr>
            {% endif %}
          
           
        </table>
    </div>
</div>


    
{% endblock %}