{%extends 'base.html'%}


{% block title %} Ninjas {% endblock %}


{% block header %} 
    <div class="page-header">
        <h1 class="display-4"> Ninjas! </h1>
        <hr>
    </div>
    <p class="lead"> All the ninjas.</p>
{% endblock %}



{%  block content %}
{% if all_ninjas_list %}
    <table class="table">
        <tr class="bg-secondary text-light ">
            <th>id</th><th>Nombre</th><th>Clase</th>
        </tr>
        {% for ninja in all_ninjas_list %}
            <tr>
                <td> {{ninja.id}}</td> 
                <td><a href="{% url 'ninjas:profile' ninja.pk %}"> {{ninja.name}}</a></td> <!-- Aqui deberia haber un link a el perfil de el ninja... -->
                <td>{{ninja.ninja_class}} </td> <!-- Aqui deberia ir la clase asociada al ninja... -->
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No ninjas in database.</p>
{% endif %}
{% endblock%}