
.space
{
    height: 100px;
}
.space20
{
    height: 20px;
}

.myflex
{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: baseline;
    flex-wrap: wrap;
}
.myflex1
{
    display: flex;
    justify-content: space-around;
    
}

.mycols
{
    display: flex;
    flex-flow: column;
}

.fixedclass
{
    width: 100%;
    position: fixed;
    z-index: 10;
}
.navbuttons
{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}


.page-header
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
