
.space
{
    height: 100px;
}
.space20
{
    height: 20px;
}

.myflex
{
    display: flex;
    justify-content: space-evenly;
}

.fixedclass
{
    width: 100%;
    position: fixed;
    z-index: 10;
}
.navbuttons
{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}


.page-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}