<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mystyle.css' %}" >

    
    <title>{% block title %}  {%endblock%}</title>

</head>
<body>

    <div class="fixedclass">
    <div class="bg-dark">
        <div class="container-fluid">
            <div class="myflex">
                <div class=" text-light"><h4>7waysNet</h4></div>
                
                <div class="">
                        
                        <a class="btn btn-outline-primary" href="{% url 'index' %}">Home</a>
                        <div class="btn-group">
                            <a class="btn btn-outline-primary" href="{% url 'ninjas:show_all_ninjas' %}">Ninjas</a> 
                            <a class="btn btn-outline-primary" href="{% url 'ninjas:show_all_teams' %}">Teams</a> 

                            <a class="btn btn-outline-primary" href="{% url 'skills:show_all_skills' %}">Skills</a>  
                            <a class="btn btn-outline-primary" href="{% url 'invocations:show_all_invocations' %}">Invocations</a>
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-outline-primary" href="{% url 'missions:show_all_missions' %}">Missions</a> 
                            <a class="btn btn-outline-primary" href="{% url 'missions:show_all_clients' %}">Clients</a> 
                        </div> 
                        <div class="btn-group">
                        {% if user.is_authenticated %}
                            {% if user.ninja %} <!-- ver como hacer esto sin los if -->
                                <a class="btn btn-outline-primary" href="{% url 'ninjas:profile' user.ninja.pk %}">{{user.username}}</a>
                            {% elif user.client%}
                                <a class="btn btn-outline-primary" href="{% url 'missions:profile' user.client.pk %}">{{user.username}}</a>
                            {% else %}  
                            <a class="btn btn-outline-primary" href="/admin/">{{user.username}}</a>
                            {% endif %}
                            <a class="btn btn-outline-danger" href="{% url 'logout' %}">LogOut</a>
                        {% else %}
                             <a class="btn btn-outline-primary" href="{% url 'login'%}">LogIn</a> 
                        
                        {% endif %}
                        </div>
                    
                </div>
                
            </div>
        </div>
    </div>
    </div>

    
    <div class="space"></div>
    
    <div class="container">
    {% block header %}

    {% endblock %}
    <hr>
    </div>

    <div class="container">
        
        {% block content %}
            <!-- contenido!  -->
        {% endblock %}
    </div>
</body>
</html>