{% extends 'base.html' %}


{% block title %} Home {% endblock %}

{% block header %}
    <div class="page-header">
        <h1 class="display-4"> Bienvenido! </h1>
        <hr>
    </div>
    <p class="lead"> Pagina principal de 7waysNet!</p>
{% endblock %}

{% block content %}
    <h4>Random info:</h4>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima exercitationem quaerat cupiditate nam quisquam. Commodi velit earum temporibus, quo aliquid facere dolorum natus ducimus, fugit magni dolorem expedita totam neque molestias assumenda maxime reiciendis eveniet! Ducimus excepturi reprehenderit ex incidunt sed. Explicabo totam, repellendus cumque adipisci omnis amet quis libero in ratione dolore ipsam temporibus dicta consequuntur sequi delectus inventore distinctio asperiores eaque id saepe quod aspernatur rem? Saepe, cupiditate?
{% endblock %}