{% extends 'base.html' %}


{% block title %} Home {% endblock %}

{% block header %}
    <div class="page-header">
        <h1 class="display-4"> Bienvenido! </h1>
        <hr>
    </div>
    <p class="lead"> Pagina principal de 7waysNet!</p>
{% endblock %}

{% block content %}
    <h4>Cosas que faltan:</h4>
    <ul class="list-group">
        
        <li class="list-group-item"> 
            <p><span class="bg-danger rounded text-light">Falta!</span> Perfil del cliente </p>
        </li>
        <li class="list-group-item"> 
            <p><span class="bg-danger rounded text-light">Falta!</span> Usar la cuenta de usuario de ninja y cliente para algo. </p>
        </li>
        <li class="list-group-item"> 
            <p><span class="bg-danger rounded text-light">Falta!</span> Filtrar los ninjas existentes por nombre, clase, edad, etc...</p>
        </li>
        <li class="list-group-item"> 
            <p><span class="bg-danger rounded text-light">Falta!</span>Modelo pergamino y relacionarlo con ninja e inventario.</p>
        </li>
        <!-- agregar lo que vaya faltando -->
        <li class="list-group-item"> 
            <p>...</p>
        </li>
    </ul>
{% endblock %}