{% extends 'base.html' %}

{% block title %} Register User {% endblock %}

{% block header %} 
<div class="header">
    <h1 class="display-4"> Register User </h1>
</div>
{% endblock %}
    
{% block content %} 
<div class="row">
<div class="col-md-2"></div>
<div class="col-md-8">
    <ul>
        {% for e in errors %}
            <li> {{ e}} </li>
        {% endfor %}
    </ul>
    <form action="{% url 'endRegister' %}" method="POST">
        {% csrf_token %}

        <div class="row">

            <label for="username" >Username:</label>
            <input class="form-control" type="text" name="username" placeholder="Username" required>

            <label for="password" >Password:</label>
            <input class="form-control" type="password" name="password" placeholder="Password" required>
        </div>
        
        <div class="space20"></div>
        <hr>
        <div class="myflex">
            <div>
                <label  >Ninja</label>
                <input type="radio" class="form-control" name="userType" value="ninja" onchange="swap('ninja')"  required>
            </div>
            <div>
                <label >Client</label>
                <input type="radio" class="form-control" name="userType" value="client" onchange="swap('client')"  required>
            </div>
        </div>
        <hr>
        <div class="space20"></div>


        
            <label for="name" >Name:</label>
            <input class="form-control" type="text" name="name" placeholder="Name">
        

        <div id="registertype" > 
            <div id="ninjar" hidden="true">
                
                    
                    <label for="clan" >Clan:</label>
                    <input class="form-control" type="text" name="clan" placeholder="Clan">
                
                    <label for="birthdate" >Birth Date:</label>
                    <input  class="form-control" type="date" name="birthdate" placeholder="BirthDate">
                    
                    <label for="gender" >Gender:</label>
                    <input list="gender" class="form-control" type="text" name="gender" placeholder="Gender" >
                    <datalist id="gender">
                        <option value="M"></option>
                        <option value="F"></option>
                        <option value="Other"></option>
                    </datalist>
                
                    <hr>
                    <div class="myflex">
                        <div>
                            <label  >Genin</label>
                            <input type="radio" class="form-control" name="ninjaType" value="genin"  required>
                        </div>
                        <div>
                            <label >Chunin</label>
                            <input type="radio" class="form-control" name="ninjaType" value="chunin"  required>
                        </div>
                        <div>
                            <label >Jounin</label>
                            <input type="radio" class="form-control" name="ninjaType" value="jounin"   required>
                        </div>
                    </div>
                    <hr>
                    <label for="graduationdate" >Graduation Date:</label>
                    <input  class="form-control" type="date" name="graduationdate" placeholder="Graduation Date" required>
                    
                    <label for="calification" >Calification:</label>
                    <input  class="form-control" type="number" max="5" min="2" name="calification" placeholder="Calification" required>
                
            </div>

            <div id="clientr" hidden="true">
                
                    <label for="country" >Country:</label>
                    <input class="form-control" type="text" name="country" placeholder="Country">
                
            </div>
        </div>

            
        <div class="space20"></div>
        <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2" >
                <input class="btn btn-primary" type="submit" on value="Create User" >
            </div>
        <div>

    </form>
</div>
</div>

<script>
    function swap(str)
    {
        if(str == 'client')
        {
            document.getElementById("ninjar").hidden=true
            document.getElementById("clientr").hidden=false
        }else{
            document.getElementById("clientr").hidden=true
            document.getElementById("ninjar").hidden=false
        }
    }
</script>

{% endblock %}

