{% extends 'base.html'%}

{% block title %}
    Mission {{mission.name}}
{% endblock%}

{% block header %}
<div class="page-header">
    <h1 class="display-5">{{mission.name}} </h1>
</div>
{% endblock %}


{% block content %}
    <div class="row">
    <div class="col-md-6">
        <h4>Description:</h4> 
        {{mission.description}}
    </div>
    <div class="col-md-6">
    <h4>Resume:</h4>
    <table class="table">
        {% if mission.team %}
        <tr>
            <td> Assigned Team</td> <td> <a href="{% url 'ninjas:show_team' mission.team.pk %}"> {{mission.team}} </a></td>
        </tr>
        {% endif %}
        {% if mission.leader %}
        <tr>
            <td> Team Leader</td> <td> <a href="{% url 'ninjas:profile' mission.leader.pk %}"> {{mission.leader}} </a> </td>
        </tr>
        {% endif %}
        {% if mission.client %}
        <tr>
            <td> Client </td> <td>  <a href="{% url 'missions:profile' mission.client.pk %}">{{mission.client.name}} </a> </td>
        </tr>    
        {% endif %}
        <tr>
            <td> Client's country </td> <td> {{mission.client.country}}</td>
        </tr>
        <tr>
            <td> Rank</td> <td> {{mission.rank}}</td>
        </tr>
        <tr>
            <td> Reward</td> <td> {{mission.reward}}</td>
        </tr>        
        <tr>
            <td> Available</td> <td> {{mission.available}}</td>
        </tr>
    </table>
    </div>
    </div>
    <div class="row jumbotron">
        <div class="col-md-12">

            {% if mission.missionResults %}
                <h4>Results:</h4>
                
                <table class="table">
                    <tr>
                        <th>Id</th> <th>Result</th> <th>Begin Date</th> <th>End Date</th>
                    </tr>
                    <tr>
                        <td>{{mission.missionResults.pk}}</td><td>  {{mission.missionResults.result}}</td> <td>{{mission.missionResults.begin_date}}</td> <td>{{mission.missionResults.end_date}}</td>
                    </tr>    
                </table>
            {% else %}
            <div class="text-center">
                <p class="lead">
                    There are no results. 
                </p>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}