{%extends 'base.html'%}


{% block title %} Clients {% endblock %}


{% block header %} 
    <div class="page-header">
        <h1 class="display-4"> Clients! </h1>
        <div class="pagination">
            <span class="step-links">
                <div class="btn-group">
                {% if page_obj.has_previous %}
            
                    <a class="btn btn-outline-primary" href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% else %}
                    <a class="btn btn-outline-primary disabled" >previous</a>
                {% endif %}
                <span class="current btn btn-primary disabled">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a class="btn btn-outline-primary" href="?page={{ page_obj.next_page_number }}">next</a>
                {% else %}
                    <a class="btn btn-outline-primary disabled" >next</a>
                {% endif %}
                </div>
            </span>
        </div>
    </div>
    <hr>
    <p class="lead"> All the clients.</p>
{% endblock %}



{%  block content %}
{% if all_clients_list %}
    <table class="table">
        <tr class="bg-secondary text-light ">
            <th>id</th><th>Name</th><th>Country</th>
        </tr>
        {% for client in all_clients_list %}
            <tr>
                <td> {{client.id}}</td> 
                <td><a href="{% url 'missions:profile' client.pk %}"> {{client.name}}</a></td> <!-- Aqui deberia haber un link a el perfil de el client... -->
                <td>{{client.country}} </td> <!-- Aqui deberia ir la clase asociada al client... -->
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No clients in database.</p>
{% endif %}
{% endblock%}