{%extends 'base_list.html'%}


{% block title %} Clients {% endblock %}


{% block listheader %} 
    <div>
        <h1 class="display-4"> Clients! </h1>
        <p class="lead"> All the clients.</p>        
    </div>
{% endblock %}




{%  block content %}
{% if all_clients_list %}
    <table class="table">
        <tr class="bg-secondary text-light ">
            <th>id</th><th>Name</th><th>Country</th>
        </tr>
        {% for client in all_clients_list %}
            <tr>
                <td> {{client.id}}</td> 
                <td><a href="{% url 'missions:profile' client.pk %}"> {{client.name}}</a></td> <!-- Aqui deberia haber un link a el perfil de el client... -->
                <td>{{client.country}} </td> <!-- Aqui deberia ir la clase asociada al client... -->
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No clients in database.</p>
{% endif %}
{% endblock%}